$primary-color: rgb(101, 117, 51);
$secondary-color: rgb(2, 2, 2);

* {
  background-color: rgb(179, 179, 230);
  font-family: "Montserrat";
  color: $secondary-color;
}
#container {
  max-width: 900px;
  margin: 0px auto;
}
.header {
  display: flex;
  &__photo img {
    border-radius: 50%;
  }
  &__info {
    margin-left: 1em;
  }
}
h1 {
  
  color: $primary-color;
  margin-bottom: 0.5em;
}
h2 {
  color: $secondary-color;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
h3 {
  color: $primary-color;
}
a {
  color: $primary-color;
}
section {
  margin-bottom: 3em;
}
.cv {
  max-width: 900px;
  min-width: 660px;
  margin: 0 auto;
}
.contacts {
  margin-bottom: 2em;
}
.contact {
  display: flex;
  flex-direction: column;
  &__type {
    min-width: 100px;
  }
  &__item {
    display: flex;
  }
}
p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.experience {
  display: flex;
  margin-bottom: 2em;
  &__date {
    min-width: 185px;
    margin-bottom: 1em;
  }
  &__name {
    font-weight: bold;
  }
}
.education {
  display: flex;
  margin-bottom: 2em;
  &__date {
    min-width: 185px;
    margin-bottom: 1em;
  }
  &__name {
    font-weight: bold;
  }
}
.languages {
  display: flex;
  margin-bottom: 1em;
}
.footer {
  display: flex;
  justify-content: space-between;
  a img {
    width: 40px;
  }
  &__school a img {
    width: 100px;
    height: 40px;
  }
  &__year {
    opacity: 0.5;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
  }
}
@media (max-width: 575px) {
  .experience {
    display: block;
  }
}
